.section-heading {
    h2 {
        line-height: 29px;
        font-weight: 600;
    }
    p {
        line-height: 24px;
    }
}

.fg-subtle {
    color: $muted;
}

@include media-breakpoint-down(sm) {
    .section-heading {
        h2 {
            line-height: 27px;
            font-weight: 600;
        }
        p {
            line-height: 24px;
        }
    }
}